<!-- Header principal -->
<header class="header" style="
    position: relative;
    height: 420px;
    margin: 0;
    padding: 0;
    background-image: url('{{ site.baseurl }}/img/header-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
">

    <div style="
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 90%;
        max-width: 760px;
        z-index: 2;
    ">

        <a href="https://www.proec.unicamp.br/" target="_blank">
            <img 
                class="logo-proec"
                src="{{ site.baseurl }}/img/logos/proec-isologo.svg" 
                alt="PROEEC"
            >
        </a>

        <a href="{{ site.baseurl }}/">
            <img 
                class="logo-museu"
                src="{{ site.baseurl }}/img/logos/mc.svg" 
                alt="Museu Exploratório de Ciências"
            >
        </a>

    </div>

</header>
    </div>

</header>
