<!-- Header das páginas internas -->
<header class="header-pages" style="
    position: relative;
    height: 220px;
    margin: 0;
    padding: 0;
    background-image: url('{{ site.baseurl }}/img/header-pages.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
">

    <!-- Logos -->
    <div style="
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 90%;
        max-width: 760px;
        z-index: 2;
    ">

        <a href="https://www.proec.unicamp.br/" target="_blank">
            <img 
                src="{{ site.baseurl }}/img/logos/proec-isologo.svg" 
                alt="PROEEC"
                style="width: 120px; height: auto; display: block;"
            >
        </a>

        <a href="{{ site.baseurl }}/">
            <img 
                src="{{ site.baseurl }}/img/logos/mc.svg" 
                alt="Museu Exploratório de Ciências"
                style="width: 240px; height: auto; display: block;"
            >
        </a>

    </div>

</header>
