<!-- Header das páginas internas -->
<header class="gd-header gd-header-pages">

    <div class="gd-header-logos">

        <a href="https://www.proec.unicamp.br/" target="_blank">
            <img 
                class="gd-logo-proec"
                src="{{ site.baseurl }}/img/logos/proec-isologo.svg" 
                alt="PROEEC">
        </a>

        <a href="{{ site.baseurl }}/">
            <img 
                class="gd-logo-museu"
                src="{{ site.baseurl }}/img/logos/mc.svg" 
                alt="Museu Exploratório de Ciências">
        </a>

    </div>

</header>
