<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Grande Desafio</h2>
                <h3>Museu Exploratório de Ciências da Unicamp</h3>
            </div>
            {% for post in site.posts %}
                {% if post.categories contains "main" %}
                    <div class="page-details">{{ post.content }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
